.storys-statues{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 45px;
}
.status-section{
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 40px;
  margin-top: 50px;
}
.statu-div{
  width: 468px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile-part{
  justify-content: space-between;
  width: 450px;
  margin-bottom: 10px;
}
.profile-part,
.profile-part1,
.profile-part2{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.profile-picture img{
  height: 35px;
  width: 35px;
  object-fit: cover;
  border-radius: 30px;
  margin-right: 10px;
  cursor: pointer;
}
.user-name{
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}
.verified{
  margin-left: 3px;
}
.time-point{
  margin-left: 3px;
  margin-right: 3px;
  font-size: 30px;
  color: rgb(168, 168, 168);
}
.time{
  font-size: 14px;
  color: rgb(168, 168, 168);
  cursor: pointer;
}
.follow{
  margin-right: 10px;
  font-size: 14px;
  color: rgb(110, 142, 247);
  font-weight: bold;
  cursor: pointer;
}
.follow:hover{
  text-decoration: underline;
  color: rgb(133, 161, 255);
}
.profile-part2 svg{
  cursor: pointer;
}
.profile-part2 svg:hover{
  scale: 1.1;
}
.statu img{
  width: 468px;
  max-height: 650px;
  border-radius: 7px;
  object-fit: cover;
  object-position: top;
}
.options-bar{
  width: 450px;
  margin-top: 10px;
}
.options-bar,
.options-bar div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}
.heart-icon,
.comment-icon{
  margin-right: 12px;
}
.heart-icon svg,
.comment-icon svg{
  margin-right: 5px;
}
.options-bar svg:hover{
  scale: 1.05;
  cursor: pointer;
}
.heart-number,
.comment-number{
  cursor: pointer;
}
.p-part{
  width: 450px;
  margin-top: 15px;
}
.name-in-comment{
  font-weight: 500;
  cursor: pointer;
}
.p1{
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 8px;
}
.p2{
  font-size: 11.5px;
  font-weight: 500;
}
.follow-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 45px;
}
.profile-bar,
.Suggested{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 283px;
}
.profile-bar-picture-and-name-user{
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-bar-picture img{
  height: 42px;
  width: 42px;
  border-radius: 25px;
  object-fit: cover;
  cursor: pointer;
}
.name-user{
  margin-left: 10px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.user{
  font-weight: 500;
  cursor: pointer;
}
.name{
  color: rgb(168, 168, 168);
}
.switch{
  font-size: 12px;
  font-weight: bold;
  color: rgb(110, 142, 247);
  cursor: pointer;
}
.switch:hover{
  text-decoration: underline;
  color: rgb(133, 161, 255);
}
.Suggested{
  margin-top: 30px;
  margin-bottom: 10px;
}
.Suggested1{
  font-size: 14px;
  font-weight: 500;
}
.Suggested2{
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
}
.Suggested2:hover{
  color: rgb(168, 168, 168);
}
.grid-suggested{
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 3px;
}
.Suggested-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 277px;
  margin-top: 5px;
  margin-left: 6px;
}
.Suggested-bar-picture-and-name-user{
  display: flex;
  justify-content: center;
  align-items: center;
}
.Suggested-user{
  cursor: pointer;
}
.Suggested-name{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Suggested-bar-picture img{
  height: 45px;
  width: 45px;
  border-radius: 25px;
  object-fit: cover;
  cursor: pointer;
}
.relative-Suggested-name{
  position: relative;
  margin-right: 5px;
}
.Suggested-name img{
  height: 16px;
  width: 16px;
  border-radius: 8px;
  object-fit: cover;
}
.opacity-img{
  height: 16px;
  width: 16px;
  border-radius: 8px;
  object-fit: cover;
  background-color: rgba(255, 255, 255, 0.05);
  position: absolute;
  top: 0;
  opacity: 0;
  cursor: pointer;
}
.relative-Suggested-name:hover .opacity-img{
  opacity: 1;
}
.relative-Suggested-name2{
  position: absolute;
  top: -1px;
  right: -10px;
}
.relative-Suggested-name2 img{
  border: 2px solid rgb(12, 16, 20);
}
.follower-name{
  font-size: 12px;
  color: rgb(168, 168, 168);
}
.adds{
  font-size: 12px;
  color: rgb(168, 168, 168);
  width: 280px;
  line-height: 21px;
  margin-top: 30px;
}
.adds a{
  color: rgb(168, 168, 168);
  text-decoration: none;
}
.adds a:hover{
  text-decoration: underline;
}
.Meta{
  font-size: 12px;
  color: rgb(168, 168, 168);
  margin-top: 20px;
}